<!DOCTYPE html>
<html lang='en'>
<head>
<title >Your profile</title>
{% load static %}
<link rel='stylesheet' href='{% static "css/profile.css" %}'>
<link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>
<body>
    <div class='profile-card'>
      <h1 class='logo' >Welcome {{user.username}}<img src='{% static "img/mac_os.jpg" %}'></h1>
    </div>
    <div class='profile-text'>
    <p><i class='fas fa-user fa-sm'></i> <strong>First name:</strong> {{user.first_name}} </p>
    <p><i class='fas fa-user fa-sm'></i> <strong>Last name:</strong> {{user.last_name}} </p>
    <p><i class='fas fa-envelope fa-sm'></i> <strong>Email:</strong> {{user.email}} </p>
    <a class='logout-btn' href='{% url "log_out" %}'><i class='fas fa-sign-out-alt'></i> Logout</a>
    <a class='logout-btn' href='{% url "change-password" %}'>Change Password</a>
    </div>
    {%if seller_profile %}
    <div>
        <h3>Seller Profile</h3>
        <p><strong>Name: </strong>  {{}} </p>
        <p><strong>Contact: </strong> {{}}     </p>
        <p><strong>Location: </strong>  {{}}    </p>
        <p><strong>Bio: </strong>              </p>

    </div>
    <p>For sale</p>
    {% for dog in dogs%}
    <div>
        <p><strong>Name:</strong>    {{}}        </p>
        <p><strong>Breed:</strong>    {{}}       </p>
        <p><strong>Age:</strong>    {{}}         </p>
        <p><strong>Price:</strong>  {{}}          </p>
        <p><strong>Location:</strong> {{}}                  </p>
    </div>
    {% endfor %}
    {% endif %}


    {% if orders%}
    <h3>Your Orders</h3>
    {% for order in orders %}
    <div>
        <p><strong></strong>{{}} </p>
        <p><strong></strong>{{}} </p>
        <p><strong></strong>{{}} </p>
        <p><strong></strong>{{}} </p>
    
    
    
    </div>
    {% endfor %}
    {%endif %}
</body>
</html>