<!DOCTYPE html>
<html lang='en'>
<head>
<title >Your profile</title>
{% load static %}
<link rel='stylesheet' href='{% static "css/profile.css" %}'>
<link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>
<body>

 <div class='profile-card'>
    <h1 class='logo'>Welcome {{ user.username }}</h1>
    <div class='profile-pic-container'>
        {% if user.profile.profile_img %}
            <img src="{{ user.profile.profile_img.url }}" alt="Profile Image">
        {% else %}
            <img class ='logo-img' src="{% static 'img/mac_os.jpg' %}" alt="Default Profile Image">
        {% endif %}
    </div>
</div>

    <div class='profile-text'>
    <p><i class='fas fa-user fa-sm'></i> <strong>First name:</strong> {{user.first_name}} </p>
    <p><i class='fas fa-user fa-sm'></i> <strong>Last name:</strong> {{user.last_name}} </p>
    <p><i class='fas fa-envelope fa-sm'></i> <strong>Email:</strong> {{user.email}} </p>
    <a class='logout-btn' href='{% url "log_out" %}'><i class='fas fa-sign-out-alt'></i> Logout</a>
    <a class='logout-btn' href='{% url "change-password" %}'>Change Password</a>
    </div>
    {%if seller_profile %}
    <div>
        <h3>Seller Profile</h3>
        <p><strong>Name: </strong>  {{user.username}} </p>
        <p><strong>Contact: </strong> {{seller_profile.contact}}     </p>
        <p><strong>Location: </strong>  {{seller_profile.location}}    </p>
        <p><strong>Bio: </strong>  {{seller_profile.bio}}</p>
        <p><strong>Balance:</strong> ${{user.account_balance}}</p>
        <a class='btn' href='{% url "add_profile" %}'> <i class='fas fa user-circle'></i>Update Profile</a>

    </div>
    <p>For sale</p>
    {% for dog in dogs%}
    <div>
        <p><strong>Name:</strong>    {{dog.name}}</p>
        <p><strong>Breed:</strong>    {{dog.breed}} </p>
        <p><strong>Age:</strong>    {{dog.age}}</p>
        <p><strong>Price:</strong>  {{dog.Price}} </p>
        <p><strong>Location:</strong> {{dog.location}} </p>
    </div>
    {% endfor %}
   
    <h3>Your Orders</h3>
    {% for order in orders%}
    <div>
         <p><strong>Dogs Sold: </strong> {{order.dog.name}}</p>
         <p><strong>Buyer: </strong> {{order.buyer.username}}</p>
         <p><strong>Status: </strong> {{order.status}}</p>
         <p><strong>Total price: </strong> {{order.total_price}}</p>
         {%if order.status == 'PENDING' %}
        <a href='{% url "status_delivered" order.id %}' class='btn'>Mark as delivered</a>
        {% endif %}
    </div>
   
    {% empty %}
    <p>No order's yet...</p>
    {% endfor %}
    <a href='{% url "adding_dogs" %}' class='btn'>Add dog</a>
    <a href='{% url "handle_listings" %}' class='btn'>Manage dogs</a>
    {% endif %}

    {% if not seller_profile %}
    <h3>Your Orders</h3>
    {% for order in orders %}
    <div>
        <p><strong>Dog Purchased: </strong>{{order.dog.name}} </p>
        <p><strong>Status: </strong>{{order.status}} </p>
        <p><strong>Total price: </strong> {{order.total_price}}</p>
    
    
    
    </div>
    {% empty %}
    <p> No order's been made yet...</p>
    {% endfor %}
    {% if order.dog %}
    <a href='{% url "browse_dogs" order.dog.id %}' class='btn'>Browse Dogs</a>
    {% else %}
    <p>No dogs Available</p>
    {% endif %}
    {%endif %}
    
</body>
</html>