.show-label label{
    display: none;
}
body h2 form{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.change-password{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 2rem;
    margin: 2rem auto;
    max-width: 400px;
    border-radius: 8px;
    width: 100%;
}

.show-label{
    margin-bottom: 2rem;
}
.show-label input[type='password']{
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid#ccc;

}

.change-password button{
    cursor: pointer;
    padding: 1rem;
    color: #fff;
    background-color: #3498db;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
}
.change-password button:hover{
    background-color: #2980b9;
}
.change-password h2{
    display: block;
    font-weight: bold;
    color: #333;
    text-align: center;
}
.change-password li{
    font-size: 1rem;
    color: #e74c3c;
    margin-bottom: 1rem;
}